@using SimpleBlogDemo.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Blog Demo</title>
    <script src="~/js/modernizr.js"></script>
    <link rel="stylesheet" href="~/css/SimpleBlogDemo.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Simple Blog Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
       </div>
    </div>
    <div class="container body-content">
        @Html.RenderFlash()
        @RenderBody()
    </div>

    <script src="~/js/jquery.js" /></script>
    <script src="~/js/bootstrap.js" /></script>
    @RenderSection("scripts", required: false)
</body>
</html>
