@{
ViewBag.Title = "Home";
}
<div id="main-display">
    <div id="main-content-form">
        <div class="row">
            <div class="col-lg-12">
                <h1 id="main-header" class="page-header">
                    @ViewBag.TeamName
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="custom-glyph glyphicon glyphicon-user"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.NumMembers</div>
                                <div>Members</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="custom-glyph glyphicon glyphicon-link"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TotalUserLinkedApps</div>
                                <div>Linked Apps</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="custom-glyph glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.NumDailyActives</div>
                                <div>Daily Actives</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="custom-glyph glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.NumWeeklySharedFolders</div>
                                <div>Shared Folders</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="graph-header">@ViewBag.TeamName Details</span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Active</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>

                            @foreach (var member in @ViewBag.TeamMembers)
                            {
                                string role = "Placeholder Role";
                                        
                                @:<tr>
                                    @:<td>@member.Profile.Email</td>
                                    @:<td>@member.Profile.Name.DisplayName</td>
                                    @:<td>@member.Profile.Status.IsActive</td>
                                            
                                    if (member.Role.IsTeamAdmin)
                                    {
                                        role = "Admin";
                                    }
                                    else if (member.Role.IsMemberOnly)
                                    {
                                        role = "Member";
                                    }
                                        
                                    @:<td>@role</td>
                                @:</tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="graph-header">Daily Active Users</span>
            </div>
            <div class="row">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
        <div class="row">
            
        @if (string.IsNullOrWhiteSpace(MvcApplication.AccessToken))
        {
            @:<div>
                @:<a class="custom-btn" href="/Home/Connect">
                    @:<img class="dbx-logo-img-small" src="../images/dropbox-logo.png"> Connect to Dropbox
                @:</a>
            @:</div>
        }
        else
        {
            @:<input type="submit" id="img-btn" class="custom-btn" value="Disconnect from Dropbox" form="disconnect-form">
        }

            <div>
                <a href="http://dropbox.github.io/dropbox-sdk-dotnet/html/R_Project_DotNetApiDocumentation.htm" target="_blank">.NET SDK Documentation</a>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Disconnect", "Home", FormMethod.Post, new { id = "disconnect-form" }))
    {
        @Html.AntiForgeryToken();
    }
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        var d = new Date()
        var dataList = [];
        var activeUsers =  @ViewBag.ActiveUsers;
        var index = activeUsers.length;

        /* generate a week's worth of data */
        for (var i = 6; i >= 0; i--) {
            var map = {};
            map["y"] = (d.getMonth() + 1) + "/" + (d.getDate() - i) + "/" + d.getFullYear();
            map["a"] = activeUsers[index - i - 1] == null ? 0 : activeUsers[index - i - 1];
            dataList.push(map);
        }

        var dataInput = JSON.parse(JSON.stringify(dataList));

        Morris.Bar({
            element: 'morris-bar-chart',
            data: dataInput,
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Number Users'],
            hideHover: 'auto',
            resize: true
        });
    });
</script>